@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply dark:text-zinc-100;
}

nav {
  @apply bg-neutral-900 dark:bg-transparent  !important;
}

.mantine-RichTextEditor-content {
  @apply dark:bg-neutral-800;
}

.mantine-RichTextEditor-toolbar {
  @apply dark:bg-neutral-900;
}

.mantine-Notification-root {
  @apply dark:bg-neutral-900 !important;
}

#User-posts #Post-image {
  @apply !important;
}

.Profile-tabs {
  min-height: 92vh !important;
}

.box {
  -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

pre {
  display: grid;
}

code {
  max-width: 100% !important;
  overflow: auto !important;
  display: inline-block;
}
